<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leminhbang.camearamini">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GallaryAdapter" />
        <activity
            android:name=".ChangeShadeActivity"
            android:label="@string/title_activity_change_shade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClarifyPortraitActivity"
            android:label="@string/title_activity_clarify_portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangeColorActivity"
            android:label="@string/title_activity_change_color"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InsertFrameActivity"
            android:label="@string/title_activity_insert_frame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InsertTextActivity"
            android:label="@string/title_activity_insert_text"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CutImageActivity"
            android:label="@string/title_activity_cut_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PortraitActivity"
            android:label="@string/title_activity_portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>